<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Category</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Edit Category</h1>
    <form th:action="@{/listCategory/editFilmCategory/{id}(id=${category.categoryId})}" th:object="${category}" method="post">
        <div class="mb-3">
            <label for="catName" class="form-label">Category Name</label>
            <input th:field="*{categoryName}" class="form-control" id="catName" required />
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input th:field="*{description}" class="form-control" id="description" required />
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" value="true" th:field="*{status}" th:checked="*{status}" id="statusActive" />
            <label for="statusActive" class="form-check-label">Active</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" value="false" th:field="*{status}" th:checked="*{!status}" id="statusInactive" />
            <label for="statusInactive" class="form-check-label">Inactive</label>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="/listCategory" class="btn btn-secondary">Cancel</a>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDzwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
