<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Comment</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Add New Comment</h1>
    <form th:action="@{/comments/add}" th:object="${commentDto}" method="post">
        <div class="mb-3">
            <label for="stars" class="form-label">Stars</label>
            <input th:field="*{stars}" class="form-control" id="stars" required />
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <input th:field="*{content}" class="form-control" id="content" required />
        </div>
        <div class="mb-3">
            <label for="film" class="form-label">Film</label>
            <select th:field="*{filmId}" class="form-control" id="film">
                <option th:each="film : ${films}" th:value="${film.filmId}" th:text="${film.filmName}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="user" class="form-label">User</label>
            <select th:field="*{userId}" class="form-control" id="user">
                <option th:each="user : ${users}" th:value="${user.userId}" th:text="${user.userName}"></option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Add</button>
        <button type="reset" class="btn btn-secondary">Clear</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
