<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            padding: 50px;
        }
    </style>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<br/>
<h1>Thêm thông tin mỗi tập phim</h1>
<br/>
<form th:action="@{/film/editEpisode}" th:object="${episodeListDto}" method="post" enctype="multipart/form-data">
    <div th:each="e, episodeCount : ${episodeListDto.episodeDtoList}">
        <input type="hidden" name="filmEpisodeId" th:value="*{episodeDtoList[__${episodeCount.index}__].filmEpisodeId}">
        <!--        ID của film để gắn với khóa ngoại trong bảng film-episode -->
        <input th:field="*{episodeDtoList[__${episodeCount.index}__].filmId}" type="text" style="display: none"
               readonly>
        <!--        episode-number -->
        <input th:field="*{episodeDtoList[__${episodeCount.index}__].episodeNumber}" type="text" style="display: none"
               readonly>
        <!--        FilmEpisode ID-->
        <input th:field="*{episodeDtoList[__${episodeCount.index}__].filmEpisodeId}" type="text" style="display: none"
               readonly>
        <div class="mb-3">
            <label class="form-label" th:text="${'Đường dẫn tập '+ episodeCount.count}"></label>
            <!--            Episode url-->
            <input type="text" class="form-control"
                   th:field="*{episodeDtoList[__${episodeCount.index}__].filmEpisodeUrl}">
        </div>
        <div class="mb-3">
            <label for="file" class="form-label">Ảnh minh họa</label>
            <!--            Ảnh của mỗi tập -->
            <input class="form-control" type="file" id="file"
                   th:field="*{episodeDtoList[__${episodeCount.index}__].filmEpisodeImage}">
        </div>
        <div class="mb-3">
            <label class="form-label">Thời lượng (tính theo số phút)</label>
            <input th:field="*{episodeDtoList[__${episodeCount.index}__].episodeTime}" type="number"
                   class="form-control">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Lưu</button>
</form>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>